* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: black;

}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 50px;

}

.nav-link {
    display: flex;
    gap: 40px;
}

.nav-link a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: sofia sans;
}

.nav-button {
    background-color: #F65F5F;
    color: beige;
    border: 2px solid #F65F5F;
    width: 160px;
    height: 45px;
    border-radius: 100px;
    
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.section-2{
    display: flex;
}

.sec2-right {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.sec2left-body{
    display: flex;
    flex-direction: column;
    gap: 27px;
}

.sec2-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 27px;

}

.sec2left-body {
    color: azure;
    display: flex;
    gap: 27px;
}
.sec2left-body p{
    font-family: sofia sans;
    font-weight: 400px;
    
    
}
.sec2left-body h1{
    font-family: sofia sans;
    font-weight: 900;
}
.sec2left-body span{
    color: #F65F5F;
}





.sec2-input {
    border: 1px solid white;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    gap:300px;
}

.sec2-input input {
    color: aliceblue;
    border: none;
    border-radius: 100px;
    padding: 5px;
    
}
.sec2-input img{
    border-radius: 100px;
    overflow: hidden;
    padding: 6px;
}

.sec2-button{
    
display: flex;


}
.sec3-header{
    margin-top: 128px;
    gap: 20px;
    flex: 1;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: sofia sans;
}
.header-title{
    font-weight: 700;
    font-size: 30px;
}
.header-title span{
    color: #F65F5F;
}
.review{
    display: flex;
    justify-content: center;
    gap:20px;
    margin-top:60px ;
}
.review-1{
    background: -o-linear-gradient(to top , #F54748 ,#FFFFFF00);
}
.section-4{
    display: flex;
    justify-content:flex-start;
   
    
}
.sec4-left{
 
    
}
.sec4-right{
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.sec4-header {
    color: aliceblue;
    font-family: sofia sans;
    font-size: larger;
}
.sec4-paragraph{
    color: white;
    font-family: sofia sans;
}
.sec4-button{
    width : 114px;
    height: 45px;
    color: white;
    background-color: #F54748;
    border-radius: 100px;
    border: none;
}
.sec4-list{
    color: white;
    
}
.sec4-list ul {
    margin-bottom: 35px;
}
.sec4-feature{
    display: flex;
    gap: 100px;
}